<div class="container">
  <div class="row">
    <div class="col-md-3">
      <select class="form-control" ng-model="ctrl.categoryFilter">
        <option selected value="">Filter by Category</option>
        <option ng-repeat="category in ctrl.allCategories | orderBy: category" value="{{category}}">{{category}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <select class="form-control" ng-model="ctrl.priceFilter">
        <option value="">Sort by Price</option>
        <option value="+price">Low to High</option>
        <option value="-price">High to Low</option>
      </select>
    </div>
    <div class="col-md-7"></div>
  </div>
  <div class="row">
    <div class="product-container" ng-repeat="product in ctrl.allProducts | filter: {name: ctrl.service.searchTerm, categories: ctrl.categoryFilter} | orderBy: [ctrl.priceFilter, 'name']">
      <div class="col-md-3">
        <dm-product product-data="product"></dm-product>
      </div>
    </div>
  </div>
</div>
