<div class="container">
  <div class="row">
    <div class="col-md-2">
      <select class="form-control">
        <option disabled selected>Sort by Price</option>
      </select>
    </div>
    <div class="col-md-3">
      <select class="form-control">
        <option disabled selected>Search by Category</option>
      </select>
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Search by name">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <button type="button" class="btn btn-block btn-primary">Checkout</button>
    </div>
  </div>
  <div class="row">
    <div class="product-container" ng-repeat="product in ctrl.allProducts">
      <div class="col-md-3">
        <dm-product product-data="product"></dm-product>
      </div>
    </div>
  </div>
</div>
