html, body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

/*SHOPPING STYLES*/

.product-container {
  margin-top: 40px;
}

.product-div {
  height: 320px;
  margin-bottom: 30px;
  border: 1px solid #eee;
  /*display: flex;
  align-items: center;
  flex-direction: column;*/
  padding: 20px;
}

.product-image {
  width: 220px;
  text-align: center;
}

.product-name {
  font-weight: bold;
}

.product-price {
  font-size: 18px;
  color: #666;
}
