html, body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

.search-bar {
  width: 200px;
  margin-top: 8px;
  margin-right: 10px;
}

.search-bar input {
  border: 1px solid #fff;
  background-image: url('images/search.png');
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 4px;
  padding-left: 26px;
}

.navbar {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #B05A4A;
  border: none;
}

.navbar .container-fluid a, .navbar .container-fluid li a {
  color: #fff;
}

.navbar .container-fluid a:hover, .navbar .container-fluid li a:hover {
  color: #6D382E;
  outline: 0px;
}

.navbar .container-fluid a:active, .navbar .container-fluid li a:active, .navbar .container-fluid a:focus, .navbar .container-fluid li a:focus {
  color: #fff;
  outline: 0px;
}

/*SHOPPING STYLES*/

.product-container {
  margin-top: 20px;
}

.product-div {
  height: 320px;
  margin-bottom: 30px;
  border: 1px solid #eee;
  /*display: flex;
  align-items: center;
  flex-direction: column;*/
  padding: 20px 20px 10px 20px;
}

.product-info-container {
  margin-top: 14px;
}

.product-image {
  width: 220px;
  text-align: center;
}

.product-name {
  font-weight: bold;
}

.product-price {
  font-size: 18px;
  color: #666;
  margin-bottom: 0;
}

.product-image-container {
  position: relative;
}

.product-image-container::after {
  background-color: rgba(255, 255, 255, 0.9);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition:visibility 0s linear 125ms, opacity 125ms ease;
}

.product-div:hover > .product-image-container::after {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.product-out-stock {
  font-size: 18px;
  margin-bottom: 20px;
}

.product-details-add {
  position: absolute;
  visibility: hidden;
  z-index: 100;
  padding-right: 34px;
  opacity: 0;
  transition:visibility 0s linear 125ms, opacity 125ms ease;
}

.product-div:hover > .product-details-add {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.title {
  font-weight: bold;
}

.add-form {
  margin-bottom: 20px;
}

.add-form-element {
  width: 45%;
  display: inline-block;
}

button {
  background-color: #B05A4A;
  color: #fff;
}

.product-div button:hover {
  background-color: #964C3E;
  color: #fff;
}

.product-div button:focus, .product-div button:active {
  background-color: #B05A4A;
  color: #fff;
  outline: 0px;
}

.no-star {
  color: #999;
}

/*CHECKOUT STYLES*/

.cart-container {
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 5;
  overflow: auto;
  transition: all 0.5s;
}

.cart-content {
  overflow: scroll;
  height: 100%;
}

.cart-item {
  border-bottom: 1px solid #eee;
  padding-top: 24px;
  padding-bottom: 24px;
}

.noScroll {
  overflow: hidden;
}

.cart {
  background-color: #fff;
  top: 0;
  bottom: 0;
  height: 100vh;
  border-left: 1px solid #1c1c1c;
  padding: 60px 50px 50px 50px;
  position: relative;
}

.edit-item {
  visibility: hidden;
  cursor: pointer;
}

.cart-item:hover .edit-item {
  visibility: visible;
}

.edit-item img {
  width: 12px;
  margin-top: -24px;
  margin-right: 8px;
}

.remove {
  text-align: right;
}

.arrow {
  font-size: 10px;
  text-align: center;
  color: #AAAAAB;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.down {
  margin-top: 10px;
}

.quantity {
  text-align: center;
}

.checkout {
  bottom: 30px;
  position: absolute;
}

.cartSlide.ng-animate {
  transition:0.5s linear all;
}
.cartSlide.ng-add {
  transform: translateX(0%);
}
.cartSlide.ng-add.ng-add-active {
  transform: translateX(100%);
}
.cartSlide.ng-remove {
  transform: translateX(100%);
}
.cartSlide.ng-remove.ng-remove-active {
  transform: translateX(0%);
}
