html, body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

/*SHOPPING STYLES*/

.product-container {
  margin-top: 40px;
}

.product-div {
  height: 320px;
  margin-bottom: 30px;
  border: 1px solid #eee;
  /*display: flex;
  align-items: center;
  flex-direction: column;*/
  padding: 20px 20px 10px 20px;
}

.product-info-container {
  margin-top: 14px;
}

.product-image {
  width: 220px;
  text-align: center;
}

.product-name {
  font-weight: bold;
}

.product-price {
  font-size: 18px;
  color: #666;
  margin-bottom: 0;
}

.product-image-container {
  position: relative;
}

.product-image-container::after {
  background-color: rgba(255, 255, 255, 0.8);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.product-div:hover > .product-image-container::after {
  visibility: visible;
}
